<style>
.message-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: 18px;
  line-height: 21px;
}
</style>

<div class="menssage-content">
<p>Olá {{name}}</p>
<p>Parece que uma troca de senha para sua conta foi solicitada.</p>
<p>Se foi você então click no botão abaixo.</p>
<a href="{{link}}">
  <button type="submit">Resetar Senha</button>
</a> 
<p>Se não foi você, então descarte este e-mail!</p>
<p>
  Obrigado!<br/>
  <strong>Equipe TradersRoom</strong>
</p>
</div>